# TP 5
tp5/mysql
tp5/maria
tp5/scripts/
tp5/backups/

# TP 6
tp6/master
tp6/slave
tp6/scripts/database.sql

# TP 7
tp7/maria1
tp7/maria2
tp7/maria3
tp7/backups

# TP 8
tp8/backups
tp8/master

# TP 9
tp9/backups
tp9/master

